* {
    text-decoration: none !important;

    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --app-bg: #1C1A1C;
    --app-border: #27272A;
    --app-black-dark: #1f1f1f;
    --app-black-muted: #282628;

    --app-text: #BDBDBD;
    --app-grey-light: ;
    --app-grey-dark: #252526;
    --app-grey: #383838;
    --app-white: #FFFFFF;

    --app-red: #F24646;
    --app-red-pale: #E5383B;
    --app-red-muted: #E98074;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--v-theme-surface-light), 1);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--v-theme-on-surface), .5)
}

.v-ripple__container {
    display:none !important;
}

.bg-guest {
    background-image: url("https://img.freepik.com/free-photo/abstract-gradient-neon-lights_23-2149279115.jpg?t=st=1740224012~exp=1740227612~hmac=2ede1d1aa60b0243db487fa4650d38071d768dbc69cb5d871d1958222d2f8137&w=1060") !important;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: rgb(var(--v-theme-primary));*/
    /*background: linear-gradient(90deg, rgb(var(--v-theme-primary)) 0%, rgb(var(--v-theme-background)) 100%);*/
}
