* {
    text-decoration: none !important;
}

@font-face {
    font-family: "Manrope", serif;
    /*font-weight: <weight>;*/
    font-style: normal;
}

:root {
    --app-black: #1C1A1C;
    --app-black-light: #27272A;
    --app-black-dark: #1f1f1f;

    --app-grey-light: #BDBDBD;
    --app-grey-dark: #252526;
    --app-grey: #383838;
    --app-white: #FFFFFF;

    --app-red: #F24646;
    --app-red-pale: #E5383B;
    --app-red-muted: #E98074;

    /*--main-color: #;*/
    /*--sub-color: #D8C3A5;*/
    /*--grey-color: #8E8D8A;*/
    /*--red-color: #E85A4F;*/

    --fs-lg: .875rem;
    --fs-sm: .7rem;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--app-grey-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #48484a;
}

body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(at center, var(--app-red), var(--app-black));
    display: flex;
}

/*.app-header {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    background-color: var(--app-black);*/
/*    backdrop-filter: blur(50px);*/
/*    !*opacity: .9;*!*/
/*    border-bottom: 1px solid var(--app-black-light);*/
/*}*/

/*.bg-app-black {*/
/*    background-color: var(--app-black);*/
/*}*/

/*.text-app-grey {*/
/*    transition: .1s ease;*/
/*    color: var(--app-grey-light);*/
/*}*/

/*.text-app-grey-hover:hover {*/
/*    color: var(--app-white);*/
/*}*/

/*.fs-lg {*/
/*    font-size: var(--fs-lg);*/
/*}*/

/*.fs-sm {*/
/*    font-size: var(--fs-sm);*/
/*}*/

/*.cursor-pointer {*/
/*    cursor: pointer;*/
/*}*/

/*.btn-app {*/
/*    !*font-size: var(--fs-lg);*!*/
/*    padding: .5rem 1rem;*/
/*    border-radius: .15rem;*/
/*    transition: .1s ease;*/
/*    border: none;*/
/*    font-size: 1rem;*/
/*}*/

/*.btn-app-grey {*/
/*    background-color: var(--app-grey);*/
/*}*/

/*.btn-app-red {*/
/*    background-color: var(--app-red);*/
/*}*/

/*.btn-app-red:hover {*/
/*    background-color: var(--app-red-pale);*/
/*    !*border: .5rem solid var(--app-red);*!*/
/*}*/

/*.btn-app-red:focus,*/
/*.btn-app-red:active {*/
/*    box-shadow: 0 0 0 .15rem var(--app-red-muted);*/
/*}*/

/*.app-block {*/
/*    background-color: var(--app-black);*/
/*    border-bottom: 1px solid var(--app-black-light);*/
/*}*/

/*.app-block-chat {*/
/*    height: 40rem;*/
/*    background-color: var(--app-grey-dark);*/
/*    border-radius: .5rem;*/
/*    padding: 1rem;*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*    overflow-y: auto;*/
/*    row-gap: .5rem;*/
/*}*/

/*.form-message {*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    resize: none;*/
/*    width: 100%;*/
/*    color: var(--app-grey-light);*/
/*    font-size: var(--fs-lg);*/
/*    height: fit-content;*/
/*    outline: none;*/
/*    overflow-y: hidden;*/
/*}*/

/*.form-message:focus {*/
/*    outline: none;*/
/*    border: none;*/
/*}*/

/*.form-message::selection {*/
/*    color: var(--app-white);*/
/*    background-color: var(--app-red);*/
/*}*/

/*.app-container-message-date {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    cursor: pointer;*/
/*}*/

/*.app-block-message-date {*/
/*    width: max-content;*/
/*    background-color: var(--app-grey);*/
/*    border-radius: 1rem;*/
/*    padding: .25rem 1rem;*/
/*    font-size: var(--fs-sm);*/
/*}*/

/*.app-container-message {*/
/*    display: flex;*/
/*}*/

/*.app-container-message-outgoing {*/
/*    justify-content: end;*/
/*}*/

/*.app-container-message-incoming {*/
/*    justify-content: start;*/
/*}*/

/*.app-container-message-outgoing .app-block-message {*/
/*    background-color: #383838;*/
/*}*/

/*.app-container-message-incoming .app-block-message {*/
/*    background-color: #48484a;*/
/*}*/

/*.app-block-message {*/
/*    display: flex;*/
/*    width: max-content;*/
/*    max-width: 65%;*/
/*    padding: .75rem;*/
/*    border-radius: .5rem;*/
/*    flex-direction: column;*/
/*}*/


